<h1 mat-dialog-title>
  {{ data.esEdicion ? 'Editar Insumo' : 'Registrar Insumo' }}
</h1>
<div mat-dialog-content>
  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Nombre</mat-label>
    <input matInput [(ngModel)]="nombre" />
  </mat-form-field>

  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Valor</mat-label>
    <input matInput type="number" [(ngModel)]="valor" />
  </mat-form-field>

  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Cantidad</mat-label>
    <input matInput type="number" [(ngModel)]="cantidad" />
  </mat-form-field>

  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Stock Mínimo</mat-label>
    <input matInput type="number" [(ngModel)]="stockMinimo" />
  </mat-form-field>
</div>
<div mat-dialog-actions align="end">
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button mat-button color="primary" (click)="guardarInsumo()">Guardar</button>
</div>
