<section class="container-fluid w-100 h-10 p-4">
    <p class="text-center font-roboto h3">
        @switch (data.mode) {
            @case ('create') { Crear }
            @case ('edit') { Editar }
        }
        Despacho
    </p>

    <button class="button__action position-absolute top-0 end-0 m-0" (click)="onCancel()">×</button>

    <hr>

    <main class="px-1 pt-4 pb-0">
        <form [formGroup]="form" class="row row-cols-2">

            <div class="form__container">
                <label class="form__label-static">Material</label>
                
                <select class="form__input" formControlName="material" (change)="onMaterialChange($event)">
                    <option value="" disabled>Selecciona un material</option>
                    <option *ngFor="let material of materials" [value]="material.id" [selected]="material.id == form.controls['material'].value">
                        {{ material.name }}
                    </option>
</select>




            </div>


            <div class="form__container">
                <label class="form__label-static">Cantidad</label>
                <input type="text" class="form__input" formControlName="quantity" [(ngModel)]="form.controls['quantity'].value"/>
            </div>




            <div class="form__container">
                <label class="form__label-static">Unidad de medida</label>
                <input type="text" class="form__input" formControlName="measure" [(ngModel)]="form.controls['measure'].value"/>
            </div>

            

            <div class="form__container">
                <label class="form__label-static">Cliente</label>
                <select class="form__input" formControlName="client" (change)="onClientChange($event)">
                    <option value="" disabled>Selecciona un cliente</option>
                    <option *ngFor="let client of clients" [value]="client.id" [selected]="client.id == form.controls['client'].value">
                        {{ client.fullName }}
                    </option>
                </select>



            </div>



            <div class="form__container">
                <label class="form__label-static">Ubicación de entrega</label>
                <input type="text" class="form__input" formControlName="location" [(ngModel)]="form.controls['location'].value"/>
            </div>




            <div class="form__container">
                <label class="form__label-static">Estado</label>
                <select class="form__input" formControlName="status">
                    <option value="" disabled selected>Selecciona un estado</option>
                    <option value="Pendiente">Pendiente</option>
                    <option value="Enviado">Enviado</option>
                    <option value="Entregado">Entregado</option>
                </select>
            </div>


            @if (data.mode !== 'detail') {
                <div class="button w-100">
                    <button type="submit" (click)="onSubmit()" class="button__control button__control--black px-5">
                        <span class="small fw-medium">
                            @if (data.mode === 'create') { Crear }
                            @else if (data.mode === 'edit') { Guardar }
                        </span>
                    </button>
                </div>
            }
        </form>
    </main>
</section>