<div class="d-flex align-items-center mb-4">
  <img src="https://cdn-icons-png.flaticon.com/512/5234/5234508.png" alt="Icono Materiales" class="icono-titulo ms-4" />
  <h1 class="page__title ms-2 m-0">
    Gestión de Materiales de Construcción
  </h1>
</div>

<section class="container-fluid w-100 h-10 p-0">

    <section class="panel__body p-2 p-md-3">

        <section class="d-flex gap-3 align-items-center">
  <div class="form__field w-100">
    <div class="search-wrapper">
      <i class="fa-solid fa-magnifying-glass search-icon"></i>
      <input
        type="text"
        class="search-input"
        placeholder="Buscar (nombre, cantidad, unidad de medida, etc)..."
        (keyup)="applyFilter($event)"
        #input
      />
    </div>
  </div>

  <div>
    <button mat-raised-button color="primary" class="btn-agregar-materiales" (click)="openAdd()">
      <mat-icon class="me-2">add</mat-icon>
      Agregar
    </button>
  </div>
</section>

        
        @if (isLoading()) {
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        }

        <main class="container__table">
            <mat-table [dataSource]="dataSource" matSort>

                <ng-container matColumnDef="name">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                        <span class="container__table--title">Nombre</span>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element">{{ element.name }}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="quantity">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                        <span class="container__table--title">Cantidad</span>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element">{{ element.quantity }}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="measure">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                        <span class="container__table--title">Unidad de medida</span>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element">{{ element.measure }}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="location">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                        <span class="container__table--title">Ubicacion</span>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element">{{ element.location }}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef>
                        <span class="container__table--title">Acciones</span>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element" class="d-flex justify-content-center">
                        <button type="button" class="button__action" (click)="openDetail(element)">
                            <i class="fa-solid fa-circle-info"></i>
                        </button>
                        <button type="button" class="button__action" (click)="openEdit(element)">
                            <i class="fa-solid fa-pen"></i>
                        </button>
                        <button type="button" class="button__action" (click)="openDelete(element.id)">
                            <i class="fa-solid fa-trash"></i>
                        </button>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true;"
                    class="table__header"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

            </mat-table>
        </main>
        <mat-paginator [pageSizeOptions]="[25]" [pageSizeOptions]="[25, 50, 75, 100]"></mat-paginator>
    </section>


</section>